{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container">
<div class="content">
    <div class="row py-4">
        <div class="col-lg-12">
            <div class="text-center">
                <h3>Conent Hub <span class="text-primary">Frequently Asked Questions</span><span
                        class="text-primary"></span></h3>
                <p class="text-muted mt-2">Here are the answers to some of the most common and important questions  
                    <Br/>business owners and marketers have about content hub development.</p>
            </div>
        </div>
    </div>
    <div class="accordion custom-accordion" id="custom-accordion-one">
        <div class="card mb-0">
            <div class="card-header" id="headingFour">
                <h5 class="m-0">
                    <a class="custom-accordion-title d-block py-1"
                        data-toggle="collapse" href="#collapseFour"
                        aria-expanded="true" aria-controls="collapseFour">
                        Q. How should I design a Content Hub? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
                
            <div id="collapseFour" class="collapse show"
                aria-labelledby="headingFour"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>A content hub should be designed with two major factors in mind, organization and ease of navigation. The easier it is for your customer or client to find your information, the more effective the hub will be. </p>
                    <p>Additionally, content hub’s should be designed around a single page, keyword, and goal. As the content hub grows around the primary page, the information will naturally support the entire site. This avoids creating pockets of unrelated information and instead creates a highly structured mountain of information. </p>
                    <p>Prioritize Scrolling Over Clicking</p>
                    <ul>
                        <li>A case study by Crazy Egg, proved that users would rather have a page 20 times longer than average than to have to click buttons to access the information. </li>
                    </ul>
                    <p>Advantages:</p>
                    <ul>
                        <li>Eliminates the need for accordions </li>
                        <li>Allows for more design diversity </li>
                        <li>Keeps users on the page 30% longer than average</li>
                        <li>Provides more Organic Traffic Opportunities for your website.  </li>
                    </ul>
                    <p><a href="#"> Learn More</a></p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        Q. How long does it take to build a content hub? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>Depending on development resources, the language the website is already coded in, and how many people want to be involved, all factor into development speed. </p>
                    <p>You can drastically lower the time if you follow these simple steps in order:</p>
                    <ul>
                        <li>Make a list of the topics, categories, questions, and other relevant info you want to include in the hub.</li>
                        <li>Design the framework for the organizational structure. This entire website is built upon a framework designed for content hubs. Our design includes a side navigation, categories, and subcategories, that help to divide and organize the content. As a result, you can navigate to any part of the hub from each page, eliminating the need to bounce back to the previous page to navigate to the information you want next. </li>
                        <li>Design content blocks that make it easy to develop new pages that fit the design and aesthetic of the website. </li>
                        <li>Take the list of content and have copy developed for each page.</li>
                        <li>Put it all together.</li>
                    </ul>
                    <p>View Additional Tools and Resources</p>
                    <p>This content hub and website was created by Austin Colton, including the copy and code, in less than 30 hours of work. A highly competent team can accomplish a great deal if they share the same vision and understand the concepts explained in greater detail HERE.</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingSix">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        Q. How expensive is it to build a content hub? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>Just as the time it takes to develop a content hub is dependent on the team’s competency, the same goes for the cost. </p>
                    <p>Typically, there will be a high cost for developing the structure, coding blocks, and initial content. Once the core is set up, it will take less resources to add new content over time. </p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingSeven">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseSeven"
                        aria-expanded="false" aria-controls="collapseSeven">
                        Q. Who should manage the content? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse"
                aria-labelledby="headingSeven"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseEight"
                        aria-expanded="false" aria-controls="collapseEight">
                        Q. What examples are there on successful websites?<i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseEight" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>There are many examples of content hubs. Here are several of our favorite examples: </p>
                    <ul>
                        <li>Qualtrics Link: https://www.qualtrics.com/community/</li>
                        <li>Moz Link: https://moz.com/learn/seo</li>
                        <li>Progressive Link: https://www.progressive.com/answers/</li>
                        <li>Gymshark Link: https://central.gymshark.com/</li>
                        <li>Bootstrap Link: https://getbootstrap.com/docs/4.5/getting-started/introduction/</li>
                        <li>Heroku Link: https://devcenter.heroku.com/</li>
                        <li>SemRush Link: https://www.semrush.com/</li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseNine"
                        aria-expanded="false" aria-controls="collapseNine">
                        Q. How does a content hub impact my website? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseNine" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseTen"
                        aria-expanded="false" aria-controls="collapseTen">
                        Q. How can you use a content hub as a marketing tool? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseTen" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseEleven"
                        aria-expanded="false" aria-controls="collapseEleven">
                        Q. How big should the content hub be? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseEleven" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseTwelve"
                        aria-expanded="false" aria-controls="collapseTwelve">
                        Q. How will it benefit my business? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseTwelve" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>A well designed, organized, and developed content hub allows a website to establish more authority by providing higher quality content for google to promote.</p>
                    <p>Google is structured to provide you with the best information regardless of product or service offered. Google wants to see valuable content on the website and a content hub is the perfect balance of providing this information to users and google without disrupting the sales flow built into the homepage and product pages.</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseThirteen"
                        aria-expanded="false" aria-controls="collapseThirteen">
                        Q. What additional advantages does it offer?  <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseThirteen" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    <p>The Content Hub is a perfect opportunity to create SEO based pages, develop content that captures a wider range of highly relevant keywords, and circumvents the archive that is attached to the Blog.</p>
                    <p>The Content Hub gives you a place to create content to rank for high difficulty, high volume keywords. </p>
                    <p>The content hub also gives you a place to create a customer knowledge base, information center, and give more detailed information that would not be appropriate for a product or service page. </p>
                    <p>Hicks Law: the more choices an individual has, the longer they will take to make a decision. By separating and categorizing the choices, you eliminate the problem of overwhelming the customer by showing them too much at once. </p>
                    <p>More page diversity</p>
                    <p>Ability to focus on manny calls to action, by creating as many pages as needed</p>
                    <p>Separate the content to smaller more digestible bit</p>
                    <p>Improve the overall organization of the site while providing a higher quality of accessible information</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseFourteen"
                        aria-expanded="false" aria-controls="collapseFourteen">
                        Q. Are there any potential negatives? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseFourteen" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseFifteen"
                        aria-expanded="false" aria-controls="collapseFifteen">
                        Q. Can it negatively impact my sales and marketing? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseFifteen" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
        <br/>
        <div class="card mb-0">
            <div class="card-header" id="headingFive">
                <h5 class="m-0">
                    <a class="custom-accordion-title collapsed d-block py-1"
                        data-toggle="collapse" href="#collapseSixteen"
                        aria-expanded="false" aria-controls="collapseSixteen">
                        Q. What is the difference between a content hub and a blog? Why does this matter? <i
                            class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                </h5>
            </div>
            <div id="collapseSixteen" class="collapse"
                aria-labelledby="headingFive"
                data-parent="#custom-accordion-one">
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
</div>
{% endblock %}