{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">

    <section class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="mt-md-4">
                        <div>
                            <span class="badge badge-danger badge-pill">New</span>
                            <span class="text-black-50 ml-1">Welcome to the Content Hub Template</span>
                        </div>
                        <h2 class="text-black font-weight-normal mb-4 mt-3 hero-title">
                            Learn Everything You Need to Know About Creating Your Content Hub
                        </h2>

                        <p class="mb-4 font-16 text-black-50">We have created an indepth overview
                            explaining what purpose a content hub serves and how you can begin 
                            developing yours.
                        </p>

                        <a href="{% url 'purpose' %}" target="_blank" class="btn btn-success">Start Learning <i
                                class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="text-md-right mt-3 mt-md-0">
                        <img src="{% static 'images/startup.svg' %}" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row py-4">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>The interactive guide is <span class="text-primary">detailed</span> and easy to <span
                                class="text-primary">navigate</span></h3>
                        <p class="text-muted mt-2">Below you will find an overview of the project and the different
                            <br>components that play into development.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-desktop text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Content Hub FAQ</h4>
                        <a href="{% url 'faq' %}" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-vector-square text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Development Information</h4>
                        <a href="{% url 'development' %}" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-presentation text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Hub's Power and Impact</h4>
                        <a href="{% url 'purpose' %}" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-apps text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Fully Interactive Example</h4>
                        <a href="{% url 'purpose' %}" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-shopping-cart-alt text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Sales and Marketing Effect</h4>
                        <a href="{% url 'long-short' %}" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-center p-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-grids text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Downloadable Template</h4>
                        <a href="https://github.com/austincolton717/content-hub" class="btn btn-info btn-rounded mt-3">Get Started <i class="mdi mdi-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END SERVICES -->  

            <!-- START FEATURES 2 -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>Let's Get <span class="text-danger">Started</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 py-5 align-items-center">
                        <div class="col-lg-5">
                            <img src="{% static 'images/features-1.svg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h3 class="font-weight-normal">What is the purpose of a content hub?</h3>
                            <p class="text-muted mt-3">The purpose of a content hub is to provide a central structure to organize any useful and relevant information about your business.</p>
    
                            <div class="mt-4">
                                <p class="text-muted mt-3">Among the information you will learn, the following are the key aspects of this project:</p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Establishing Your Personal and Organizational Purpose</p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Understanding the principles behind a content hub</p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Create a Long Term Game-Plan Strategy </p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Use The Content Hub as a Marketing Advantage</p>
                            </div>
    
                            <a href="{% url 'purpose' %}" class="btn btn-success mt-3">Read More <i class="mdi mdi-arrow-right ml-1"></i></a>
    
                        </div>
                    </div>
    
                    <div class="row pb-3 pt-5 align-items-center">
                        <div class="col-lg-6">
                            <h3 class="font-weight-normal">Understanding Google’s Mission Statement</h3>
                            <p class="text-muted mt-3">Digital Marketing uses the tools provided online to sell products and services. 
                                This starts with designing and building a website, learning how to use online ads, and implementing basic SEO. 
                                With over 90% of worldwide searches occurring on Google, it is inevitable that everyone looking to compete in the 
                                sea of digital information, will need to learn how to do the above, and do it well
                            </p>
                            <p class="text-muted mt-3">That being said, you also need to realize that selling products isn’t what Google is designed for.
                                Google is designed for making information conveniently accessible. All you have to do is read their mission statement: 
                            </p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> “Our company mission is to organize the world’s information and make it universally accessible and useful. That’s why Search makes it easy to discover a broad range of information from a wide variety of sources.” </p>
                            <p class="text-muted mt-3">
                                Nowhere in that statement did it say “our mission is to provide the best products to people.” Nor did it focus on selling. The reason Google is so useful is because it does it’s best to provide the best information to the searcher.  
                            </p>
                            <p class="text-muted mt-3">
                                You ultimately determine your success by your adherence to this mission. The more information you provide that is of good quality, relevant to searcher intent, and optimized as best as possible, the better you will perform. This is a do or do not sort of situation.
                            </p>
    
                            <a href="{% url 'purpose' %}" class="btn btn-success mt-3">Read More <i class="mdi mdi-arrow-right ml-1"></i></a>
    
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <img src="{% static 'images/features-2.svg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- END FEATURES 2 -->
{% endblock %}

