{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">
            <!-- START FAQ -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1 class="mt-0"><i class="mdi mdi-frequently-asked-questions"></i></h1>
                                <h3>Content Hub <span class="text-primary">Advantages</span></h3>
                                <p class="text-muted mt-2">Below are the core advantages of building a content hub on your website. 
                                    <br>Check out successful examples by clicking the links below.</p>
    
                                <a type="button" href="https://www.qualtrics.com/experience-management/customer/" class="btn btn-success btn-sm mt-2">Qualtrix Conent Hub</a>
                                <a type="button" href="https://www.safewise.com/blog/category/home-safety/" class="btn btn-info btn-sm mt-2 ml-1">Safewise Content Hub</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-5">
                        <div class="col-lg-5 offset-lg-1">
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">1.</div>
                                <h4 class="faq-question text-body">Higher SEO Opportunity</h4>
                                <p class="text-muted mt-2">Perhaps the hardest part of building a website is finding the right place to build content that is optimized to its full potential. Good marketing teams understand the sales flow and want to drive as many customer interactions that convert to sales as possible. While some pages are better designed for PPC and the sales funnel, other pages are better suited for SEO and TF IDF researched content. A content hub gives websites an opportunity to take advantage of the true power of SEO that is otherwise neglected or set aside. </p>
                            </div>
                            <br/>
                            <br/>
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">3.</div>
                                <h4 class="faq-question text-body">Better Content Structure</h4>
                                <p class="text-muted mt-2">By improving the structure of your site and filling it with high quality relevant content, you can build a website that will be seen by more people because Google will want to rank you higher. While content isn’t the only aspect of ranking in the organic search results pages, it has never been more important to have written content that is leaps and bounds better than the competition. </p>
                            </div>
    
                        </div>
                        <!--/col-lg-5 -->
    
                        <div class="col-lg-5">
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">2.</div>
                                <h4 class="faq-question text-body">Expand Your Share of Voice</h4>
                                <p class="text-muted mt-2">Every market is composed of many different companies all fighting for the top few spaces that attract the most customers. The more keywords your website is ranking for, the more opportunities you have to be seen. Hundreds to thousands of people are searching every day for products or services in your market and oftentimes the most crucial and highly searched keywords become difficult to rank for. With a content hub, you not only have a place to put content to expand the keywords you want to rank for, but you also open the door to rank for higher difficulty keywords that were not an option before. </p>
                            </div>
                            <br/>
                            <!-- Question/Answer -->
                            <div>
                                <div class="faq-question-q-box">4.</div>
                                <h4 class="faq-question text-body">Customer Community Opportunities</h4>
                                <p class="text-muted mt-2">On the purpose page, we explained that people don’t truly buy what you do, they buy why you do it. The community that can be created around your product or service is just as important as everything else. A customer will continue to buy or subscribe when they truly connect with the brand that is providing what they want. Consumers have more choices now than ever before. A trend that will only get more and more competitive as the global markets continue to grow and develop. So when it comes down to choosing between two seemingly identical products, the customer is going to choose the brand they connect with.  </p>
                            </div>
    
                        </div>
                        <!--/col-lg-5-->
                    </div>
                    <!-- end row -->
    
                </div> <!-- end container-->
            </section>
            <!-- END FAQ -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>Higher Quality Customer <span class="text-danger">Interaction</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 py-5 align-items-center">
                        <div class="col-lg-5">
                            <img src="/static/images/features-1.svg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h3 class="font-weight-normal">Added Value</h3>
                            <p class="text-muted mt-3">A general introduction to the idea of added value can be demonstrated in a common example that can be found at many general retailers. Oftentimes, electronics compete in the same market, all offering the same level of quality at the same price. In order to sell more products, oftentimes they will add a free device or product to any customer that chooses their device over a competitor. This is considered added value. By giving off the appearance of providing more value to a customer at the same price, they often outsell the competition. This is also why discounts, sales, and product bundles have become a common way to sell more products and clear out inventory. </p>
                            <p class="text-muted mt-3">This concept can be taken even further. Added value in the example given above doesn’t inspire customer loyalty. It may sell a few more products for a short time, but it almost never results in a long term customer. For this to take place, you need to have the idea of added value built into your product and service before you try to sell it to a customer. A website is one of the best ways to add this value, especially when you are providing a service which isn’t necessarily unique. A content hub allows you the opportunity to provide information and content that adds value to your service and associate this value with your product. It is a simple idea that much like a successful content hub, isn’t always easy to implement. </p>
                            <p class="text-muted mt-3">Though it takes a lot of work to add value, ultimately it will end up providing a better long term customer base that businesses truly look for. </p>
    
                        </div>
                    </div>
                    </div>
                    </section>
</div>
{% endblock %}