{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3>What is the difference between a Blog and <span class="text-danger">Content Hub</span></h3>
                </div>
            </div>
        </div>
        <br/>
    <p>Service pages and product pages, as their names suggest, provide the relevant information that a new or potential customer will need to know in order to make their decision. Once a product or service has been paid for, oftentimes additional information will need to be provided. Just like a new computer will have a manual inside the box containing information that you didn’t need to know before you purchased the product, the information on a website is also broken up. There needs to be an easy to access, simple to understand, place where this information is provided. That’s where the content hub steps in.
    </p>
    <p>Blog’s are categorized and dated for simple organization. In google’s eyes, this information can become outdated over time, especially in fields related to technology where products and possibilities are constantly changing and updating. The blog needs to be updated and revised or new content needs to be provided constantly. Either option requires a lot of time and resources. </p>
    <p>A content hub is a structure of secondary pages and does not fall into the pitfalls that the blog does with age and will not be archived. The content hub is there to provide documentation, information about products and services that is extremely detailed, as well as answers to questions or problems. </p>
    <p>The great opportunity is providing information at greater length that is meant to inform a decision rather than push one. Selling requires different vernacular than educating, and both should be performed if you want to be successful online. </p>
    <p>You also need to look at and analyse what value you can provide that is unique. People buy products at a premium from a company like apple, when they could spend less on arguably the same or better. The same goes for companies like Harley Davidson, Gucci, Rolex Watches, to name a few. What is the explanation for why these companies are so well known that their brands have become more than just products but ideas that people use to express who they feel themselves to be? The answer is simply, these companies have provided more than a product. They have sold themselves to the customer, the product is just an effect of the cause. </p>
    <p>All you have to do to further test this is walk up to someone with an iphone or MacBook Pro and try to convince them that they are using a subpar computer that isn’t worth the money they spent. If this seems like a mute point and a waste of your time, you’d be right. Another example would be to think about why when you ask someone what type of phone they have, they will say they have an iphone or an android. One is a specific product produced by a specific company. The other is a generic name for hundreds of products produced by dozens of companies. </p>
    <p>Your content hub provides you with the opportunity to build a library of information that will get people to feel more involved with your company as well as help contribute to a community. After all, if you can sell yourself, you will sell your products and services. 
    <p>The purpose of marketing in general is to convince someone to purchase your product and service over another. It is almost impossible to be unique in the type of service or the type of product we provide. But it is more than possible to be unique in the way we provide that service. </p>
    </p>
</div>
</div>
{% endblock %}