{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">
             <!-- START FEATURES 2 -->
             <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>Higher Quality Customer <span class="text-danger">Interaction</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 py-5 align-items-center">
                        <div class="col-lg-5">
                            <img src="/static/images/features-1.svg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h3 class="font-weight-normal">Added Value</h3>
                            <p class="text-muted mt-3">A general introduction to the idea of added value can be demonstrated in a common example that can be found at many general retailers. Oftentimes, electronics compete in the same market, all offering the same level of quality at the same price. In order to sell more products, oftentimes they will add a free device or product to any customer that chooses their device over a competitor. This is considered added value. By giving off the appearance of providing more value to a customer at the same price, they often outsell the competition. This is also why discounts, sales, and product bundles have become a common way to sell more products and clear out inventory. </p>
                            <p class="text-muted mt-3">This concept can be taken even further. Added value in the example given above doesn’t inspire customer loyalty. It may sell a few more products for a short time, but it almost never results in a long term customer. For this to take place, you need to have the idea of added value built into your product and service before you try to sell it to a customer. A website is one of the best ways to add this value, especially when you are providing a service which isn’t necessarily unique. A content hub allows you the opportunity to provide information and content that adds value to your service and associate this value with your product. It is a simple idea that much like a successful content hub, isn’t always easy to implement. </p>
                            <p class="text-muted mt-3">Though it takes a lot of work to add value, ultimately it will end up providing a better long term customer base that businesses truly look for. </p>
    
                        </div>
                    </div>
    
                    <div class="row pb-3 pt-5 align-items-center">
                        <div class="col-lg-6">
                            <h3 class="font-weight-normal">Unique Opportunities</h3>
                            <p class="text-muted mt-3">
                            </p>
                            <p class="text-muted mt-3">
                            </p>
                            <p class="text-muted mt-3">
                            </p>
    
                            <a href="/purpose/" class="btn btn-success mt-3">Read More <i class="mdi mdi-arrow-right ml-1"></i></a>
    
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <img src="/static/images/features-2.svg" class="img-fluid" alt="">
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- END FEATURES 2 -->
</div>
{% endblock %}