{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="content">
             <!-- START FEATURES 2 -->
             <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>What is the <span class="text-danger">Purpose</span> of the content hub?</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 py-5 align-items-center">
                        <div class="col-lg-5">
                            <img src="{% static 'images/features-1.svg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h3 class="font-weight-normal">What is the purpose of a content hub?</h3>
                            <p class="text-muted mt-3">The purpose of a content hub is to provide a central structure to organize any useful and relevant information about your business.</p>
                            <p class="text-muted mt-3">Digital Marketing uses the tools provided online to sell products and services. 
                                This starts with designing and building a website, learning how to use online ads, and implementing basic SEO. 
                                With over 90% of worldwide searches occurring on Google, it is inevitable that everyone looking to compete in the 
                                sea of digital information, will need to learn how to do the above, and do it well
                            </p>
                            <p class="text-muted mt-3">That being said, you also need to realize that selling products isn’t what Google is designed for.
                                Google is designed for making information conveniently accessible. All you have to do is read their mission statement: 
                            </p>
                            <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> “Our company mission is to organize the world’s information and make it universally accessible and useful. That’s why Search makes it easy to discover a broad range of information from a wide variety of sources.” </p>
                            <p class="text-muted mt-3">
                                Nowhere in that statement did it say “our mission is to provide the best products to people.” Nor did it focus on selling. The reason Google is so useful is because it does it’s best to provide the best information to the searcher.  
                            </p>
                            <p class="text-muted mt-3">
                                You ultimately determine your success by your adherence to this mission. The more information you provide that is of good quality, relevant to searcher intent, and optimized as best as possible, the better you will perform. This is a do or do not sort of situation.
                            </p>
    
    
                        </div>
                    </div>
    
                    <div class="row pb-3 pt-5 align-items-center">
                        <div class="col-lg-6">
                            <h3 class="font-weight-normal">More Than Just <span class="text-danger">Clever Marketing</span></h3>
                            <p class="text-muted mt-3">Every company has a unique oportunity to provide their customers with a unique experiance. Every business has competition. The only true way to seperate oneself from the compention is based on two factors, why you do what you do, and how you do it. What you do isn't as relevant since the average consumer will be able to grasp that concept within moments of landing on your website.
                            </p>
                            <br/>
                            <h3 class="font-weight-normal">Understanding the <span class="text-danger">Why and How</span> of Your Business</h3>
                            <p class="text-muted mt-3">
                                Though we will only be touching upon the idea, the simple idea of launching your business with the premise of why set first is simple to understand, but difficult to implement.
                            </p>
                            <p class="text-muted mt-3">
                                In the book Start With Why, by Simon Sinnek, this idea is outlined masterfully. To introduce you to the concept of starting with why, we will first look at an example from history which is also used in Simon’s book. 
                            </p>
                            <p class="text-muted mt-3">
                                It is a well known Historical Fact that the Wright Brothers experienced their first flight December 17th, 1903. Having invented the first successful airplane, Wibur and Orville Wright made four brief flights that day at Kitty Hawk. But as they were experiencing success, there was another man many miles away who was also working towards the same goal. His name was Sammual Pierpoint Langley. 
                            </p>
                            <p class="text-muted mt-3">
                                Though you have most likely never heard of Professor Langley, he is a figure that has interesting ties to the beginning endeavours of aviation. Being an American astronomer, physicist, and inventor, he too was working on discovering the secrets to man powered flight. He has government funding and was working with the most brilliant minds around in his academic circles. 
                            </p>

                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <img src="{% static 'images/features-2.svg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- END FEATURES 2 -->
                     <!-- START FEATURES 2 -->
                     <section class="py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <h3>“People don't buy what you do; <span class="text-danger">they buy why you do it</span>. <br/>And what you do simply proves <span class="text-danger">what you believe</span>" <br/>-Simon Sinek</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 py-5 align-items-center">
                                <div class="col-lg-5">
                                    <img src="{% static 'images/features-1.svg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <h3 class="font-weight-normal">Why are we talking about this little known historical figure?</h3>
                                    <p class="text-muted mt-3">Langley is worth mentioning because when he found out that he was not first to discover flight, he quit the endeavor entirely. This wasn’t because he couldn’t improve upon the designs of the Wright Brothers nor that he couldn’t further contribute. He gave up because ultimately, he wasn’t the first person to figure it out. Being first was more important to him than his possible contribution to the invention.</p>
                                    <p class="text-muted mt-3">
                                        Langley differs from Wilbur and Orville in one major aspect. Why they were trying to create an aircraft. Langley wanted fame and fortune, the Wright Brothers wanted to fly. That's why ultimately once Wilbur and Orville succeeded, Langley abandoned the endeavor bitterly. 
                                    </p>
                                    <p class="text-muted mt-3">
                                        Why we do what we do is extremely important. Everyone knows that motive is what drives people to do wonderful and terrible things. Yet professionally, we seldom take the time to think about our why if we think about it at all. 
                                    </p>
                                    <p class="text-muted mt-3">
                                        That’s because it’s a hard question to answer. Sit down yourself and think about what you want most. Then think of the exact reason why. Be specific. This answer should have real meaning. Now compare your answer to the example above. Are you more of a Langley or an Orville and Wilbur? 
                                    </p>
                                    <p class="text-muted mt-3">
                                        This isn’t to say that wanting fame, money, and success is bad. But it’s not enough to get you through the thicket of difficulty that will present itself.  
                                    </p>
                                </div>
                                
                            </div>
            
                            <div class="row pb-3 pt-5 align-items-center">
                                <div class="col-lg-6">
                                    <h3 class="font-weight-normal">How does this apply to business?</h3>
                                    <p class="text-muted mt-3">Companies that define themselves based on why they exist instead of defining themselves based on what they do, are significantly more successful in creating brand loyalty, happy employees, and capturing more share of voice.
                                    </p>
                                    <p class="text-muted mt-3">Apple holds about a 39% market share in the US smartphone market. They are an industry leader because they originally defined themselves based on the why of their existence. That’s why they could get away with selling more than just computers. The ipod in its time dominated the market, crushing its competitors before they could even get off the ground.
                                    </p>
                                    <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> For example, when DELL tried to launch an MP3 player, no one wanted one. Why would we want an MP3 player from a computer company? That doesn’t make any sense. Except that we do it all the time. As consumers, we have associated DELL as a brand that sells computers. Apple doesn’t appear the same way to us, though they are a computer company.</p>
                                    <p class="text-muted mt-3">
                                        We are all playing a game, there will be winners and there will be losers. However, there is room for everyone to have a little success so long as they play smart. Most people are playing the game of follow the follower. We conform to the normal, do what everyone else is doing, mirroring our behavior after others who are doing what we want to do.  
                                    </p>
                                    <p class="text-muted mt-3">
                                        Few take the time to look at those who are truly successful, break down what they are doing differently, and try to model their business after those people. Instead, we try to make everything the same as everything else. No wonder all the buildings are alike, all of the streets look alike, all the houses look alike, and most of all, why all the businesses look alike. 
                                    </p>
                                    <p class="text-muted mt-3">
                                        Don’t take this as gospel. Truly, there is no right way to be successful and everyone who has ever been will tell you their unique story. Don’t reinvent the wheel, and don’t become a cog in the machine of mediocrity. There is a balance of using proven techniques and general concepts embraced by the general public and taking your own path and carving it into the mountainside. 
                                    </p>
            
                                   
            
                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <img src="{% static 'images/features-2.svg' %}" class="img-fluid" alt="">
                                </div>
                            </div>
            
                        </div>
                    </section>
                    <!-- END FEATURES 2 -->
                             <!-- START FEATURES 2 -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3>At the end of the day, <span class="text-danger">a content hub is a tool just like any other</span>, but a useful one to have.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 py-5 align-items-center">
                        <div class="col-lg-5">
                            <img src="{% static 'images/features-1.svg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <h3 class="font-weight-normal">How you use the content hub is key!</h3>
                            <div class="mt-4">
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Think about why you are doing what you do</p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Then set a goal of where you want to go</p>
                                <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> And finally, begin making decisions that will move you towards that goal</p>
                            </div>
                            <p class="text-muted mt-3">Perhaps it would be helpful to think about your goal as the peak of some far off distant mountain. It’s going to take a lot of work to get there, but with determination and focus, it is obtainable. Now every decision you make should be moving you towards that peak. Many amazing opportunities present themselves to us along the way as we work towards that peak but if any opportunity arises that will be taking you away from that mountain, those opportunities need to be passed by.</p>
    
                        </div>
                    </div>
    
                    <div class="row pb-3 pt-5 align-items-center">
                        <div class="col-lg-6">
                            <h3 class="font-weight-normal">There is <span class="text-danger">no set way to</span> accomplish your <span class="text-danger">goals</span>!</h3>
                            <p class="text-muted mt-3">There are many roads, paths, and trails that lead to success. But you have to pick a path and stay on it. 
                            </p>
                            <p class="text-muted mt-3">That being said, you also need to realize that selling products isn’t what Google is designed for.
                                Google is designed for making information conveniently accessible. All you have to do is read their mission statement: 
                            </p>
                            <p>
                                <span class="text-danger">“People with goals succeed because they know where they’re going.” </span> <br/> -Earl Knightingaile
                            </p>
                            <a href="{% url 'purpose' %}" class="btn btn-primary mt-3">Learn About Content Hub Advantages<i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <img src="{% static 'images/features-2.svg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- END FEATURES 2 -->
</div>
{% endblock %}